
<link rel="stylesheet" media="all" type="text/css" href="$celementsweb.getSkinFile(':celJS/jquery-datetimepicker/jquery.datetimepicker.css', 'file')" />
$celementsweb.addExtJSfileOnce(':celJS/jquery-datetimepicker/jquery.datetimepicker.js')
<span class='cel_lazyloadJS' style='display: none;'>{"action": "file", "url" : "celJS/jquery-datetimepicker/jquery.datetimepicker.js" }</span>
<span class='cel_lazyloadJS' style='display: none;'>{"action": "file", "url" : "celJS/celTabMenu/stickDateTimePicker.js" }</span>
<span class='cel_lazyloadCSS' style='display: none;'>{"action": "file", "url" : "celJS/jquery-datetimepicker/jquery.datetimepicker.css" }</span>

#if("$!request.get('eventDoc')" != '')
  $xwiki.celcalendar.saveEvent();
  #set($xredirect = "$request.get('xredirect')")
  #if("$!xredirect" == '')
    #set($xredirect = "$doc.getURL('view')")
  #end
  $context.getResponse().sendRedirect($xredirect)
#end
#set($eventTransList = [])
#set($defObj = '')
#foreach($sobj in $doc.getObjects('Classes.CalendarEventClass'))
  #if("$sobj.getProperty('lang').getValue()" == "$default_language")
    #set($defObj = $sobj)
  #end
  #if("$!sobj.getProperty('lang').getValue()" != '')
    #set($contentIsEmpty = true)
    #foreach($prop in ${event.getEditableProperties().get(1)})
      #set($dispProp = '')
      #set($dispProp = $doc.display("$!prop", 'edit', $sobj))
      #set($dispProp = ${dispProp.replaceAll('\{/?pre\}','')})
      #set($contentIsEmpty = $contentIsEmpty && $xwiki.celementsweb.isEmptyRTEString("$dispProp")))
    #end
    #if($contentIsEmpty)
      #set($!devnull = $!eventTransList.add($sobj.getProperty('lang').getValue()))
    #end
  #end
#end
#set($obj = $doc.getObject('Classes.CalendarEventClass', 'lang', "$!language", false))
#if("$!obj" == '')
  #set($obj = $doc.getObject('Classes.CalendarEventClass', 'lang', "", false))
  #if("$!obj" == '')
    #set($obj = $doc.newObject('Classes.CalendarEventClass'))
  #end
  $obj.set('lang', "$language")
#end
#if("$!defObj" == '')
  #set($defObj = $obj)
#end
#set($event = $xwiki.celcalendar.getEvent(${doc.getFullName()}))
<!-- event: $event -->
##TinyMCE configs
#set($contextPath = ${request.contextPath})
#set($rte_supress_cancel = true)
#set($rte_supress_save = true)
#set($linkPickerSpaces = "")
#parse("celMacros/includeCelementsRTE.vm")
#set($hasWysiwigEditor = 'mceEditor')
<!-- start visible content -->
$celementsweb.addExtJSfileOnce("${xwiki.getSkinFile('celJS/editResize.js', true)}")
<div id="con_titblock" class="titleblock">$adminMsg.get('cel_cal_ev_edit')</div>

#set($docTransList = $eventTransList)
$xwiki.includeForm('celements2web:Macros.includeRTELanguageSelect', false)

#if($services.celementsweb.useNewButtons())
<form id="calendarform" method="post" action="?">
<input type="hidden" name="xpage" value="celements_ajax" />
<input type="hidden" name="ajax_mode" value="saveDocumentWithValidation" />
<input type="hidden" name="createIfNotExists" value="true" />
#else
<form id="edit" method="post" action="$doc.getURL('save')">
#end
  <input type="hidden" name="template" value="$!request.get('template')" />
  <input type="hidden" name="xredirect" value="$!request.get('xredirect')" />
  <input type="hidden" name="eventDoc" value="$doc.getFullName()" />
  <input type="hidden" name="lang" value="$language" />
  <input type="hidden" name="language" value="$default_language" />
  <div class="editgroup language_independent_fields">
    $adminMsg.get("cel_cal_ev_lang_indep_fields")
  <!-- edit props: ${event.getEditableProperties()} -->
  <!-- edit props: ${event.getEditableProperties().get(0)} -->
    <input type="hidden" name="Classes.CalendarEventClass_${obj.getNumber()}_lang" value="$obj.getProperty('lang').getValue()" />
  #foreach($prop in ${event.getEditableProperties().get(0)})
    #set($dispProp = '')
    #set($dispProp = $doc.display("$!prop", 'edit', $defObj))
    #set($dispProp = ${dispProp.replaceAll('\{/?pre\}','')})
    #set($isRTE = ($!prop.endsWith('_rte') || ($!prop.equals('description')) || $!prop.endsWith('_description')))
    <!-- isRTE : $isRTE -->
    #if($isRTE && $dispProp.trim().startsWith('<textarea '))
      #set($dispProp = ${dispProp.replaceAll('<textarea ','<textarea class="mceEditor"')})
    #end
    <div class="editblock cel_cal_ev_$!prop">$adminMsg.get("cel_cal_ev_$!prop")
      $dispProp
    </div>
  #end
  </div>
  #set($cals = '')
  #set($cals = $xwiki.celcalendar.getSubscribingCalendars("$doc.getSpace()"))
  #if(("$!cals" != '') && ("$!cals" != '[]'))
    <div class="editblock cel_cal_ev_subscribers">$adminMsg.get('cel_cal_ev_subscribers'):<br />
      #foreach($cal in $cals)
        #set($calIsSubs = '')
        #set($calSubsObj = '')
        #set($calSubsObj = $doc.getObject('Classes.SubscriptionClass', 'subscriber', "$!cal", false))
        #if(("$!calSubsObj" != '') && ("$!{calSubsObj.getProperty('doSubscribe').getValue()}" == '1'))
          #set($calIsSubs = "checked='checked'")
        #end
        <input type="checkbox" name="esub_$!cal" value="$!cal" $!calIsSubs /> $!cal <br />
      #end
    </div>
  #end
  <div class="editgroup language_dependent_fields">
    $adminMsg.get("cel_cal_ev_lang_dep_fields")
  #foreach($prop in ${event.getEditableProperties().get(1)})
    #set($dispProp = '')
    #set($dispProp = $doc.display("$!prop", 'edit', $obj))
    #set($dispProp = ${dispProp.replaceAll('\{/?pre\}','')})
    #set($isRTE = ($!prop.endsWith('_rte') || ($!prop.equals('description')) || $!prop.endsWith('_description')))
    <!-- isRTE : $isRTE -->
    #if($isRTE && $dispProp.trim().startsWith('<textarea '))
      #set($dispProp = ${dispProp.replaceAll('<textarea ','<textarea class="mceEditor" ')})
    #end
    <div class="editblock cel_cal_ev_$!prop">$adminMsg.get("cel_cal_ev_$!prop")
      ${dispProp.replaceAll('\{/?pre\}','')}
    </div>
  #end
  </div>
</form>
$celementsweb.addExtJSfileOnce(':celJS/celTabMenu/stickCalDateTimePicker.js')